.buttonCss{
  width: 10rem;
  height: 2.7rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin-top: 2.7rem;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1rem;
  /* color:black; */
  background-color: white;
}

.SpanCss{
  width: 5rem;
  background-color: white;
  margin-top: -0.8rem;
  margin-left: -20.5rem;
  position: absolute;
}